<p id="notice"><%= notice %></p>

<p>
  <strong>Namemessage:</strong>
  <%= @message_type.NameMessage %>
</p>

<%= link_to 'Edit', edit_message_type_path(@message_type) %> |
<%= link_to 'Back', message_types_path %>
